body {

background-color: slategray;
width: 100%;
}



.navbar ul {
    margin:0;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    height:30px;
    background-color: aqua;
    
    
   
}
.navbar  ul li a{
    line-height: 20px;
    padding: 5px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(202, 202, 201);
    float: right;
    display: inline;
}